page-login {

ion-content{
	

	.scroll-content{
		background-color: #ffffff;
	}	

	
}

.TopBar{
	background-color: #1FBED6;
	color: #ffffff;
	font-family: Monoton;

}

.calltoaction{
	font-family: Monoton;

}

.card{
 color: #040404;	
}

.cardtitle{
	font-family: Oswald;
	font-size: 2em

}


.commenttitle{
	font-family: Oswald;
	font-size: 1.2em
  }

.item{
	background-color: #ffffff
}

.logo{
	

	font-size: 25vh;
	margin-top: 50px;
	margin-bottom: 30px;

}

h1,h6 {
	
	font-size: 1em;
	color: white;
}

.row-style{
	background-color: #FFF;
	padding-left:15px;
	border-radius: 30px;
	margin-bottom: 10px;
}
.icon{
	margin-top: 13px;
	margin-right: 10px;
}
.checked {
	color: orange;
  }	


}
